<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
    <head>
        <meta charset="UTF-8">
        <title>Gerenciador de tarefas - Listagem de tarefas</title>
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div th:replace="fragmentos//fragmentos :: cabecalho"></div>
        <div class="container">
            <h3>Listagem de tarefas</h3>
            <a href="/tarefas/inserir" class="btn btn-success">Inserir nova tarefa</a>
            <div th:each="tarefa: ${tarefas}" style="margin: 10px">
                <div class="card bg-light mb-3">
                    <div class="car-header" th:text="${tarefa.titulo}"></div>
                    <div class="card-body">
                        <p class="cad-text" th:text="${tarefa.descricao}"></p>
                        <p class="cad-text" th:text="${'Data de Expiração:' + #dates.format(tarefa.dataExpiracao, 'dd/MM/yyyy')}"></p>
                        <p class="cad-text" style="color : rgb(9, 245, 9);" th:if="${tarefa.concluida}">Concluída</p>
                        <div th:unless="${tarefa.concluida}"> <!--Se não atender a condição-->
                            <p class="cad-text" style="color : rgb(226, 226, 5);" th:if="${tarefa.dataExpiracao.after(new java.util.Date())}">Em dia</p>
                            <p class="cad-text" style="color : rgb(241, 19, 19);" th:if="${tarefa.dataExpiracao.before(new java.util.Date())}">Atrasada</p>
                        </div>
                    </div>
                    <div class="card-footer bg-light">
                        <p>
                            <!-- A url utilizada no @{/url} é a definda no controller da ação-->
                            <a th:href="@{/tarefas/alterar/{id}(id=${tarefa.id})}">Alterar</a> 
                            <a th:href="@{/tarefas/excluir/{id}(id=${tarefa.id})}">Excluir</a>
                            <a th:if="${!tarefa.concluida}" th:href="@{/tarefas/concluir/{id}(id=${tarefa.id})}">Concluir</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>